/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --primary-blue-600: hsl(231, 69%, 60%);
  --primary-red-400: hsl(0, 94%, 66%);
  --neutral-grey-50: hsl(0, 0%, 97%);
  --neutral-grey: hsl(0, 0%, 73%);
  --white:hsl(0, 0%, 100%);
  --neutral-blue-950: hsl(229, 30%, 22%);
  --font: "Rubik", sans-serif;
  --font-size-body: calc(18 / 16 * 1rem);
  --font-weight-400: 400;
  --font-weight-500: 500;
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: var(--font);
  font-size: var(--font-size-body);
}

/*NAVIGATIONAL BAR*/
.nav-component {
  width: 100%;
  height: 5.5rem;
  display: flex;
  padding-inline: 10%;
  padding-block: 2rem;
  justify-content: space-between;
  position: relative;
  z-index: 102;
}

.nav-component.toggle {
  background-color: transparent;
  opacity: 1;
}

.logo-bookmark {
  width: 8.875rem;
  height: 1.5rem;
}

.icon-hamburger {
  width: 1.1875rem;
  height: 1rem;
}

.icon-close {
  display: none;
  width: 1.1875rem;
  height: 1rem;
}

.nav-links-container-2 {
  opacity: 0;
}

/*MENU*/
.menu-component {
  position: absolute;
  top: 0;
  padding-block-start: 5.5rem;
  height: 100%;
  z-index: 100;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--neutral-blue-950);
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-component.show {
  opacity: 0.97;
  pointer-events: auto;
}

.links {
  text-decoration: none;
  width: 100%;
  height: 3.8125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--neutral-grey-50);
  color: var(--neutral-grey-50);
  transition: color 0.3s ease;
}

.links:nth-child(3) {
  border-bottom: 1px solid var(--neutral-grey-50);
}

.links:hover {
  color: var(--primary-red-400);
}

.login-button-1 {
  width: 100%;
  height: 3.375rem;
  border-radius: 0.25rem;
  color: var(--neutral-grey-50);
  border: 1px solid var(--neutral-grey-50);
  transition: border 0.3s ease;
  margin-block-start: 1.25rem;
}

.login-button-1:hover {
  background-color: var(--primary-red-400);
  border: 1px solid var(--primary-red-400);
}

.icon-links-1 {
  width: 100%;
  height: 4rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.main-content {
  flex: 1;
  width: 100%;
}

/*Intro Component*/
.intro-component {
  padding-block-start: 1rem;
  padding-block-end: 5rem;
  padding-inline: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 3.5rem;
}

.image-holder {
  position: relative;
}

.background-el {
  width: 100%;
  height: 80%;
  background-color: var(--primary-blue-600);
  position: absolute;
  top: 3.25rem;
  left: 2.5rem;
  right: -4.9375rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.illustration-hero {
  position: relative;
  z-index: 10;
  width: 17.5rem;
  height: 12.4375rem;
}

.intro-component-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  font-size: 1.625rem;
  font-weight: var(--font-weight-500);
  text-align: center;
  padding-block-end: 1.5rem;
}

.intro-paragraph {
  font-size: 0.84375rem;
  color: var(--neutral-grey);
  padding-block-end: 2.25rem;
  text-align: center;
}

.intro-link-holder {
  height: 2.8125rem;
  display: flex;
  gap: 0.3125rem;
  justify-content: center;
  width: 100%;
}

.intro-link-1 {
  display: block;
  width: 45%;
  font-size: 0.625rem;
  font-weight: 500;
  background-color: var(--primary-blue-600);
  height: 100%;
  text-align: center;
  padding-block: 1rem;
  border-radius: 0.25rem;
  color: var(--white);
}

.intro-link-2 {
  display: block;
  width: 45%;
  font-size: 0.625rem;
  font-weight: 500;
  height: 100%;
  background-color: var(--neutral-grey-50);
  text-align: center;
  padding-block: 1rem;
  border-radius: 0.25rem;
  color: var(--neutral-grey);
}

@media (min-width: 48rem) {
  .nav-links-container-2 {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: reduce) {
  .links {
    transition: color 0.5s ease;
  }
  .login-button-1 {
    transition: border 0.6s ease;
  }
}/*# sourceMappingURL=styles.css.map */