/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --primary-blue-600: hsl(231, 69%, 60%);
    --primary-red-400: hsl(0, 94%, 66%);
    --neutral-grey-50: hsl(0, 0%, 97%);
    --neutral-blue-950: hsl(229, 30%, 22%);
    --font: "Rubik", sans-serif;
    --font-size-body: calc(18 / 16 * 1rem);
    --font-weight-400: 400;
    --font-weight-500: 500;
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body{
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: var(--font);
  font-size: var(--font-size-body);
}

.nav-component{
  width: 100%;
  height: calc(88 / 16 * 1rem);
  display: flex;
  padding-inline: 10%;
  padding-block: calc(32 / 16 * 1rem);
  justify-content: space-between;
}

.logo-bookmark{
  width: calc(142 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
}

.icon-hamburger{
  width: calc(20 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
}

.icon-close{
  display: none;
  width: calc(20 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
}

.menu-component{
  position: absolute;
  height: calc(100% - calc(88 / 16 * 1rem));
  z-index: 100;
  width: 100%;
  opacity: 0.95;
  background-color: var(--neutral-blue-950);
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-links-1{
width: 100%;
height: calc(64 / 16 * 1rem);
display: flex;
gap:calc(40 / 16 * 1rem);
justify-content: center;

}

.nav-links-container-2{
  display: none;
}