/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --primary-blue-600: hsl(231, 69%, 60%);
  --primary-red-400: hsl(0, 94%, 66%);
  --neutral-grey-50: hsl(0, 0%, 97%);
  --neutral-grey: hsl(0, 0%, 73%);
  --white:hsl(0, 0%, 100%);
  --neutral-blue-950: hsl(229, 30%, 22%);
  --font: "Rubik", sans-serif;
  --font-size-body: calc(18 / 16 * 1rem);
  --font-weight-400: 400;
  --font-weight-500: 500;
  --button-border: 1px solid hsl(0, 0%, 91%);
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: var(--font);
  font-size: var(--font-size-body);
}

/*NAVIGATIONAL BAR*/
.nav-component {
  width: 100%;
  height: 5.5rem;
  display: flex;
  padding-inline: 10%;
  padding-block: 2rem;
  justify-content: space-between;
  position: relative;
  z-index: 102;
}

.nav-component.toggle {
  background-color: transparent;
  opacity: 1;
}

.logo-bookmark {
  width: 8.875rem;
  height: 1.5rem;
}

.icon-hamburger {
  width: 1.1875rem;
  height: 1rem;
}

.icon-close {
  display: none;
  width: 1.1875rem;
  height: 1rem;
}

.nav-links-container-2 {
  opacity: 0;
}

/*MENU*/
.menu-component {
  position: absolute;
  top: 0;
  padding-block-start: 5.5rem;
  min-height: 100vh;
  z-index: 100;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--neutral-blue-950);
  padding-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-component.show {
  opacity: 0.97;
  pointer-events: auto;
}

.links {
  text-decoration: none;
  width: 100%;
  height: 3.8125rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--neutral-grey-50);
  color: var(--neutral-grey-50);
  transition: color 0.3s ease;
}

.links:nth-child(3) {
  border-bottom: 1px solid var(--neutral-grey-50);
}

.links:hover {
  color: var(--primary-red-400);
}

.login-button-1 {
  width: 100%;
  height: 3.375rem;
  border-radius: 0.25rem;
  color: var(--neutral-grey-50);
  border: 1px solid var(--neutral-grey-50);
  transition: border 0.3s ease;
  margin-block-start: 1.25rem;
}

.login-button-1:hover {
  background-color: var(--primary-red-400);
  border: 1px solid var(--primary-red-400);
}

.icon-links-1 {
  width: 100%;
  height: 4rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
  width: 100%;
}

/*Intro Component*/
.intro-component {
  padding-block-start: 1rem;
  padding-block-end: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 3.5rem;
  width: 100%;
}

.image-holder {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.background-el {
  width: clamp(16.875rem, 44.1vw + 118.2px, 18.75rem);
  height: 80%;
  background-color: var(--primary-blue-600);
  position: absolute;
  top: 3.25rem;
  right: 0;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.illustration-hero {
  position: relative;
  z-index: 10;
  width: 17.5rem;
  height: 12.4375rem;
}

.intro-component-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block-end: 1.25rem;
  padding-inline: 10%;
}

.intro-title {
  font-size: 1.625rem;
  font-weight: var(--font-weight-500);
  text-align: center;
  padding-block-end: 1.5rem;
}

.intro-paragraph {
  font-size: 0.84375rem;
  color: var(--neutral-grey);
  padding-block-end: 2.25rem;
  text-align: center;
}

.intro-link-holder {
  height: 2.5rem;
  display: flex;
  gap: 0.3125rem;
  justify-content: center;
  width: 100%;
}

.intro-link-1 {
  display: block;
  width: 45%;
  font-size: 0.625rem;
  font-weight: 500;
  background-color: var(--primary-blue-600);
  height: 100%;
  text-align: center;
  padding-block: 0.85rem;
  border-radius: 0.25rem;
  color: var(--white);
}

.intro-link-2 {
  display: block;
  width: 45%;
  font-size: 0.625rem;
  font-weight: 500;
  height: 100%;
  background-color: var(--neutral-grey-50);
  text-align: center;
  padding-block: 0.85rem;
  border-radius: 0.25rem;
  color: var(--neutral-grey);
}

.features-component {
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
  padding-block-start: 1.25rem;
  justify-content: center;
  position: relative;
  padding-block-end: 1.25rem;
}

.features-title {
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: 1.25rem;
  margin-block-end: 1rem;
}

.features-paragraph {
  text-align: center;
  margin-block-end: 3rem;
  font-size: 0.84375rem;
  color: var(--neutral-grey);
}

.button-features {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block-end: 4rem;
}

.toggleBtn {
  height: 3.3125rem;
  width: 100%;
  border-top: var(--button-border);
  font-size: 0.875rem;
  background-image: linear-gradient(90deg, var(--primary-red-400), var(--primary-red-400));
  background-size: 0% 4px;
  background-repeat: no-repeat;
  background-position: 50% 103.3%;
  transition: background-size 0.3s ease-in, background-position-x 0.3s ease-in;
}

.toggleBtn:first-child {
  background-position: 50% 105%;
}

.toggleBtn:last-child {
  border-bottom: var(--button-border);
  background-position: 50% 100%;
}

.toggleBtn.active {
  background-size: 45% 4px;
  background-position-x: 50%;
  cursor: pointer;
}

.background-el-2 {
  position: absolute;
  left: 0;
  top: 440px;
  width: 18.75rem;
  height: 8.75rem;
  background-color: var(--primary-blue-600);
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.feature-panel {
  width: 100%;
  z-index: 10;
  top: 400px;
  left: -5px;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.feature-image {
  position: relative;
  width: 16.5625rem;
  height: 10.9375rem;
  z-index: 10;
  left: 7px;
  bottom: 15px;
}

.feature-image-2, .feature-image-3 {
  position: relative;
  width: 15.9375rem;
  height: 11.25rem;
  z-index: 10;
  left: 25px;
  bottom: 15px;
}

.feature-panel-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.625rem;
}

.features-content-title {
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: 1.25rem;
  margin-block-start: 3rem;
}

.more-info-btn {
  display: none;
}

.download-component {
  padding-inline: 10%;
  padding-block: 1.25rem;
}

.download-title {
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: 1.25rem;
  margin-block-start: 3rem;
}

.download-paragraph {
  text-align: center;
  margin-block-start: 1.5rem;
  font-size: 0.84375rem;
  color: var(--neutral-grey);
  margin-block-end: 3.375rem;
}

.download-cards {
  padding-inline: 1.5625rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15.3125rem;
  height: 15.625rem;
  padding-block-end: 1.5rem;
  box-shadow: 0 4px 4px 3px var(--neutral-grey-50);
  padding-inline: 1.25rem;
  border-radius: 0.625rem;
  padding-block-start: 1.25rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
  margin-block-start: 1.25rem;
  margin-block-end: 0.625rem;
}

.card-pg {
  font-size: 0.75rem;
  margin-block-end: 1.5rem;
  color: var(--neutral-grey);
}

.dots {
  position: relative;
  top: 7px;
  width: calc(100% + 40px);
  max-width: none;
}

.download-link {
  display: block;
  margin-block-start: 1.5rem;
  font-size: 0.75rem;
  background-color: var(--primary-blue-600);
  border-radius: 0.3125rem;
  height: 2.75rem;
  margin-inline: 1.5rem;
  padding-block: 0.875rem;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-weight: 500;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.download-link:hover {
  transform: translateY(-3px);
  opacity: 0.9;
  cursor: pointer;
}

.faq-component {
  margin-block-start: 5rem;
}

.faq-title {
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: 1.25rem;
  margin-block-start: 3rem;
}

.faq-paragraph {
  text-align: center;
  margin-block-start: 1.5rem;
  font-size: 0.84375rem;
  color: var(--neutral-grey);
  padding-inline: 10%;
  margin-block-end: 3.375rem;
}

.faq-qna-container {
  padding-inline: 10%;
  margin-block-end: 3.375rem;
}

.qna-component {
  border-top: 1px solid var(--neutral-grey);
}

.qna-component:last-child {
  border-bottom: 1px solid var(--neutral-grey);
}

.question-component {
  display: flex;
  height: 3.75rem;
  width: 100%;
  gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
}

.question {
  font-size: 0.875rem;
}

.arrow-btn {
  height: 0.625rem;
  width: 0.8125rem;
  filter: 0;
  transition: filter 0.3s ease;
}

.arrow-btn:hover {
  filter: invert(28%) sepia(96%) saturate(7483%) hue-rotate(1deg) brightness(97%) contrast(107%);
  cursor: pointer;
}

.arrow-btn.active {
  transform: rotateX(180deg);
  transition: transform 0.3s ease;
  filter: invert(28%) sepia(96%) saturate(7483%) hue-rotate(1deg) brightness(97%) contrast(107%);
}

.answer {
  font-size: 0.84375rem;
  color: var(--neutral-grey);
  margin-block-end: 1.25rem;
}

.more-info-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 5rem;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.3125rem;
  color: var(--white);
  background-color: var(--primary-blue-600);
  margin: auto;
  transition: transform 0.3s ease;
}

.more-info-link:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.ending-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 19.75rem;
  padding-inline: 2.125rem;
  margin-block-start: 1.25rem;
  background-color: var(--primary-blue-600);
  color: var(--white);
}

.ending-paragraph {
  font-size: 0.6875rem;
  letter-spacing: 0.2em;
  margin-block-end: 1.25rem;
}

.ending-title {
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: 1.125rem;
  margin-block-end: 2.25rem;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.8125rem;
}

.email-input {
  height: 2.8125rem;
  font-size: 0.875rem;
  color: var(--neutral-grey-50);
  border-radius: 0.3125rem;
  background-color: white;
  width: 100%;
  padding-inline-start: 1.25rem;
}

.contact-us-btn {
  width: 100%;
  background-color: var(--primary-red-400);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);
  height: 2.8125rem;
  border-radius: 0.3125rem;
}

.footer-container {
  padding-block-start: 0.9375rem;
  height: 17.5rem;
  background-color: var(--neutral-blue-950);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.logo-footer {
  color: var(--white);
  height: 1.5625rem;
  width: 9.25rem;
}

.link {
  margin-block: 0.625rem;
  color: var(--neutral-grey);
  text-align: center;
}

.icon-links-2 {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

@media (min-width: 48rem) {
  .nav-links-container-2 {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: reduce) {
  .links {
    transition: color 0.5s ease;
  }
  .login-button-1 {
    transition: border 0.6s ease;
  }
  .toggleBtn {
    transition: background-size 0.5s ease-in, background-position-x 0.5s ease-in;
  }
  .download-link {
    transition: transform 0.5s ease;
  }
  .arrow-btn {
    transition: filter 0.5s ease;
  }
  .more-info-link {
    transition: transform 0.5s ease;
  }
}/*# sourceMappingURL=styles.css.map */